<h1><%= current_my_user.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-2">
      <nav class="nav flex-column">
        <%= link_to "My Posts", my_posts_path, class: "nav-link" %>
        <%= link_to "My Followers", my_followers_path, class: "nav-link" %>
        <%= link_to "My Following", my_followed_index_path, class: "nav-link" %>
      </nav>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-6">
          <%= turbo_frame_tag "posts" do %>
            <%= render @followed_posts %>
          <% end %>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-end">
            <%= link_to t(".new_post"), new_my_post_path, class: "btn btn-primary", data: { turbo_frame: dom_id(Post.new) } %>
          </div>

          <%= turbo_frame_tag Post.new %>
        </div>
      </div>
    </div>
  </div>
</div>
