<!DOCTYPE html>
<html>
  <head>
    <title>AadsSn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "my", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "my", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container container-fluid">
          <%= link_to t(".brand"), my_root_path, class: "navbar-brand" %>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to t(".about"), "#", class: "nav-link" %>
              </li>
            </ul>

            <%- if my_user_signed_in? %>
              <div class="d-flex g-3">
                <%= link_to t(".signout"), destroy_my_user_session_path, class: "btn btn-danger me-2", data: {turbo_method: :delete} %>
              </div>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
